/* base.css */

/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global base styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #555, #999);
    /* Add background gradient */
    background-attachment: fixed;
    color: #333;
}

/* Global layout styles */
header {
    background-color: #999;
    width: 1184px;
    margin: 0 auto;
}