/* Component styles */
ul {
    padding: 3px;
    display: flex;
}

.nav-item {
    display: inline-block;
    padding: 5px 10px;
    font-size: $font-size-base;
    /* Use base font size variable */
    border-right: 1px solid #bbb;
}

.cart-items {
    position: absolute;
    top: -5px;
    right: -9px;
    font-size: 18px;
    width: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 100px;
    background-color: $primary-color;
    /* Use primary color variable */
}